.filter_modal {
  background-color: #fff;
  box-shadow:
    0 3px 6px -4px #0000001f,
    0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  padding: 8px;

  nz-date-picker {
    width: 100%;
  }

  .footer {
    margin-top: 16px;

    div {
      padding: 4px 4px;
    }
  }
}
