.file {
  padding: 8px;
  .file-icon {
    margin-top: 4px;
    font-size: 32px;
    color: #999;
  }

  .download-icon {
    font-size: 1.5rem;
    color: #999;
    cursor: pointer;
  }

  h5 {
    margin-bottom: 0;
  }
}
