<section>
  <form nz-form [formGroup]="form" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
      <nz-form-control nzErrorTip="Nome é obrigatório">
        <input
          nz-input
          name="name"
          type="text"
          id="name"
          formControlName="name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="color">Cor</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          type="color"
          name="color"
          id="color"
          formControlName="color"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="lastStep">Última etapa</label>
      </nz-form-control>
    </nz-form-item>
  </form>
</section>
